body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteiner{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 5em 4em 4em;
    box-shadow: 0px 0px 14px 4px rgb(218 2 179 / 28%);
}
.forml1{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.first {
    width: 48%;
}

.for {
    height: 45px;
    border: none;
    background: #d9caf7;
    border-radius: 8px;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.b1{
    background: hsla(261, 71%, 78%, 0.563);
}
.b2{
    background:#6b4ff594;
}
.b3{
    background: #6e28e78b;
}
.conteiner-form{
    display: flex;
    flex-direction: column;
}
.btn-brown{
    align-self: center;
    border: 3px solid #340096;
    height: 2.9em;
    width: 9.5em;
    background: transparent;
    color: #300196;
    border-radius: 3em;
    margin-top: 10px;
}
.btn-brown:hover {
    background: #2f0096;
    color: white;
    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    transition-duration: 0.5s;
}
.for:focus{
    outline: none;
}
.for:focus-visible{
    border: 3px solid #390096;
}
.h2_crear{
    color: #7747e0;
    font-family: monospace;
}
.p_crear{
    font-size: 15px;
    font-family: monospace;
    color: #3d1292;
}
.form-label{
    font-size: smaller;
    color: #411292;
}